<h6>メモ一覧</h6>
<div class="content">
  <p class="mt-2">
    <%= @is_empty %>
  </p>
  <ul>
    <% @files.each do |k, v| %>
    <li>
      <a href="<%= k %>">
        <%= v %></a>
    </li>
    <% end %>
  </ul>
</div>
