<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
    <title>
      <%= @title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="mb-4">
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">メモアプリ</a>
      <% if @disp_add == "on" %>
        <div>
          <a href="/new" class="btn btn-success">追加</a>
        </div>
      <% end %>
    </nav>
  </header>
  <div class="container-fluid">
    <%= yield %>
  </div>
  <footer>
    <small>fjord bootcamp.</small>
  </footer>
</body>

</html>
