<h6>メモ内容</h6>
<div class="content">
  <p class="mt-2"><%= convert_nl_to_br(@content) %></p>
</div>
<a href="/<%= params[:id] %>/edit" class="btn btn-success">変更</a>
<form method="post" action="/<%= params[:id] %>" class="form_delete">
  <div class="form-group">
    <input type="hidden" value="delete" name="_method">
    <input type="submit" value="削除" class="btn btn-danger">
  </div>
</form>
